
    <header>
        <div class="barra">
            <div class="logo">
                <i class="fa fa-laptop" style="font-size:48px;"></i>Elias Dos Reis
            </div>
            <nav>
                <ul class="menu">
                    <li><a href="">Inicio</a></li>
                    <li><a href="">Sobre</a></li>
                    <li><a href="">Serviços</a></li>
                    <li><a href="">Portifolio</a></li>
                    <li><a href="">Clientes</a></li>
                    <li><a href="">Contatos</a></li>
                </ul>
            </nav>
        </div>
    </header>

