@import url('https://fonts.googleapis.com/css?family=Dancing+Script&display=swap');
*{ margin: 0;padding: 0;box-sizing: border-box; }
body{width: 100%;}
#bar{display: none;}

.barra{width: 100%; background-color: #181A1C; width: 100%; height: 80px;display: flex;justify-content: space-between;box-sizing: content-box;border-bottom:#0984e3 4px solid ;}
.logo{ color: #fff;padding: 15px; display: flex;}
.logo-texto{cursor: pointer; padding: 15px; font-size: 1.5em;font-family: 'Dancing Script', cursive;color: #FFF; font-weight: 900;}

ul{display: flex;padding-top: 25px;font-size: 1.3em;margin-right: 50px;list-style: none;}
ul li{padding: 10px;margin-bottom: 10px;}
ul a{text-decoration: none;color: #FFF;transition: all .2s;}
ul a:hover{border: solid#0984e3; padding:10px;border-radius: 5px;background-color:#0984e3 ;}

@media(max-width:830px){
    nav{display: flex; justify-content: space-between;}
    .menu{display: none;}
    #bar{cursor: pointer;  color: #fff;display: block;float: right; font-size: 60px;padding-top: 10px;padding-right: 30px;}
}

@media(max-width: 910px){
    .autenticacao{display: none ;}
    #bar{color: #fff; }
}

